
.Controls {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.TextAreaContainer {
    flex-grow: 1;
    padding: 8px 16px;
    line-height: 0;
    border-radius: 16px;
    background: #ffffff;
}

.TextArea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #0d0d0d;
}

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    outline: none;
    background: #0d0d0d;
}

.button svg {
    fill: #f3f3f3;
}